body { 
    font-family: Arial, sans-serif;
    background-image: url('../imagens/painel\ de\ fundo\ 2.jpg');
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden; /* Evita a rolagem lateral */
}

.profile-container {
    flex: 1;
    width: 90vw;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    flex-direction: row;
    align-items: center;
    height: auto; 
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    flex-direction:column;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}


.icon-usu {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background-color: #444;
    border-radius: 50%;
}

h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%;
}

.info-item {
    background-color: #ffc038;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 350px;
    border-radius:10px;
    transition: 1.2s;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.info-content {
    margin: 0;
}

section .qr-code-container{
    align-items: center;
    margin: 0auto;
}

.uuid-container {
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.uuid {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffc23d;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}


/*troquei , mas a div ta no html*/
.qr-code-container img {
    width: 150px;
    align-items: center;
    display: flex;
 
}

footer {
    display: flex;
    justify-content: center;
    gap: 28px; /* Aumenta o espaçamento entre os botões */
    padding: 10px 0;
}

footer nav {
    display: flex;
    align-items: center;
}
p{
    font-weight: 700;
    color: #444444;
}


button {
    background-color: #ffc23d;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 90px;
}

button img {
    width: 27px;
    height: 27px;
}

button:hover {
    background-color: #ffaf46;
    scale: 1.1;
}

/* Responsividade */
@media (max-width: 600px) {
    .profile-container {
        width: 90vw;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .info-title, .info-content {
        font-size: 14px;
    }

    .uuid {
        font-size: 16px;
    }

    .qr-code-container img {
        width: 100px;
        height: 100px;
        flex-direction: column;
      
    }

    button {
        width: 50px;
        height: 50px;
    }

    button {
        width: 50px;
        height: 50px;
        margin: 0px 50px;
    }
}
