body { 
    font-family: Arial, sans-serif;
    background-image: url('../imagens/painel\ de\ fundo\ 2.jpg');
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Evita a rolagem lateral */
}

.history-container {
    flex: 1;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    margin-top: 10%;
}

.imagem{
    width: 200px;
    padding: 18px;
    margin: 1px;
  
}
.icon{
    width:3rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.icon-usu {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background-color: #333;
    border-radius: 3rem;
}


h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Work Sans',sans-serif;
}

.transaction {
    background-color: #f0d148;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
}

.transaction p {
    margin: 0;
    white-space: nowrap; 
}

.btn-voltar {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn-voltar:hover {
    background-color: #46ffc1;
    transition: .3s;
}

footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    padding: 10px 0;
}

footer nav {
    display: flex;
    align-items: center;
}

button {
    background-color: #ffdd1b;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;

    justify-content: center;
    margin: 0px 50px;
}

button img {
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: #fff098;
    scale: 1.1;
    transition: 1.2s;
}

/* Responsividade */
@media (max-width: 600px) {
    .history-container {
        width: 90vw;
        padding: 15px;
        height: 160rem;
        margin-top: 20%;
    }

    h1 {
        font-size: 30px;
        padding: 12px;
        font-weight: 790;
        font-family: 'Work Sans', sans-serif;
    }

    .transaction {
        font-size: .68rem;
        flex-direction: column;
        padding: 30px;
        transition: 1.1s;
    }

    p {
        padding: 10px;
        font-weight: 790;
        text-align:center;
        flex-direction: column;
    }

    button {
        
        width: 50px;
        height: 50px;
    }
    .icon{
        width: 30px;
        height: 30px;

    }

    button {
        width: 60px;
        height: 60px;
        margin: 0px 50px;
        transition:ease-in 1.2s;
    }
}
