body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3a0070, #00d2ff);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.icon-usu {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    color: #444;
    margin: 0;
}

.account-info {
    width: 100%;
    flex: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.balance-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.balance {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.balance:hover {
    background-color: green;
    color: #fff;
}

.actions {
    text-align: center;
}

.qr-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-button {
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.qr-button:hover {
    background-color: #46ffc1;
    transition: .3s;
}

.icon-qr {
    width: 80px;
    height: 80px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #6200ea;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 90px;
}

button img {
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: #46ffc1;
    scale: 1.1;
}

/* Responsividade */
@media (max-width: 600px) {
    .main-container {
        width: 450px;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .balance {
        font-size: 14px;
        padding: 4px 8px;
    }

    .icon-usu {
        width: 50px;
        height: 50px;
    }

    .icon-qr {
        width: 100px;
    }

    button {
        width: 50px;
        height: 50px;
        margin: 0px 50px;
    }
}
