body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3a0070, #00d2ff);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 80vh;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #6200ea;
    color: #dcfbff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #46ffc1;
    transition: .3s;
}

p {
    margin: 20px 0;
    font-size: 14px;
}

a {
    color: #6200ea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }
}
