body { 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3a0070, #00d2ff);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden; /* Evita a rolagem lateral */
}

.payment-container {
    flex: 1;
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* Ajuste automático da altura do container */
}
a{
    width: 30px;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    margin-bottom: 20px;
}

.icon-usu {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

h1 {
    color: #444;
    margin: 0;
}

.payment-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo à esquerda */
    width: 100%;
}

.info-item {
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.info-content {
    margin: 0;
}

.input-value {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer {
    margin-top: auto; /* Empurra o footer para a parte inferior */
    width: 100%;
}

footer nav {
width: 70%;
margin: auto;
    display: flex;
    justify-content: space-between;
}
/* Configuracao da biblioteca  */
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Configuracao da biblioteca /fim */
button {
    background-color: #6200ea;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: #46ffc1;
    scale: 1.1;
}
video{
    margin-top: 90px;
    width: 60vw;
}
/* Responsividade */
@media (max-width: 600px) {
    .payment-container {
        padding: 15px;
    }
    h1 {
        font-size: 20px;
    }

    .info-title {
        font-size: 14px;
    }

    .input-value {
        font-size: 14px;
    }

    button {
        width: 50px;
        height: 50px;
    }

    button {
        width: 50px;
        height: 50px;

    }
}
